html, body {
margin: 0;
padding: 0;
background-image: url("pexels-photo-236047.jpeg") ;
background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#a1 {
    color: antiquewhite;
    text-align: center;
}
#a2 {
    text-align: center;
}
.eile {
    display: flex;
    padding: 1em 2em;
}
ul li {
    display: inline;
}
#virsus {
    background-color: grey;
    justify-content: space-between;
    align-items: center;
}
#straipsniai {
    display: flex;
    flex-wrap: wrap;
}
#straipsniai > div {
    background-color: beige;
    margin: 1em;
    padding: 1em 2em; 
    width: 25%;
}